{% extends "base.html" %}


{% block content %}
    <div class="row spacer-lg">
    	<section class="data small-12 medium-6 columns">
    		<h2 class="title--alpha">{{company.name}}</h2>

    		<dl>
                <dt>Dirección:</dt>
                <dd>{{company.address}}</dd>
                <dt>Teléfono:</dt>
                <dd><a href="tel:{{company.phone}}">{{company.phone}}</a></dd>
            </dl>    	
    		<a href="mailto:info@{{company.name}}.com&subject=Deseo trabajar con ustedes"  class="cta">Aplica a un trabajo aquí</a>
    	</section>
    	<!-- Cambiar este iframe por un google map -->
        <div class="website small-12 medium-6 columns">
           <div class="perspective-1">
               <div class="iphone">  
        	       <iframe src="{{company.website}}"  height="450"></iframe>
                   <a href="{{company.website}}" target="_blank" class="iphone__button"></a>
                   <iframe src="{{company.mapa}}"  height="450"></iframe>
        	   </div>
           </div>
        </div>
    	
    </div>
{% endblock content %}