{% extends "base.html" %}


{% block content %}

{{super()}}
    <div class="row spacer-lg">
    	<section class="data small-12 medium-6 columns">
    		<h2 class="title--alpha">{{student.name}} {{student.last_name}}</h2>
    		<dl>
                <dt>Edad:</dt>
                <dd>{{student.age}} años</dd>

    		    <dt>Email:</dt>
                <dd><a href="mailto:{{student.email}}">{{student.email}}</a></dd>
            
                <dt>Habilidades:</dt>
                <dd class="csv">
                {% for skill in student.skills %}
                    <span>{{skill.name}}</span>
                    {% if skill.description %}
                    <span>{{skill.description}}
                    </span>
                    {% endif %}
                    {% if skill.logo %}
                    <img src ={{skill.logo}}>
                    {% endif %}
                {% endfor %}
                </dd>
            </dl>	
    	</section>


    	<section class="small-12 medium-6 columns">
            <h3 class="title--alpha">Compañias adecuadas</h3>
            <div class="row collapse">
            {% if matching_companies %}
                
                {% for company in matching_companies %}
                    <div class="small-12 columns company">
                        <h4><a href="{{url_for("front.companies", company_id=company["model"].id)}}">{{company["model"].name}}</a></h4>
                        <dl>
                            <dt>Dirección:</dt>
                            <dd>{{company["model"].address}}</dd>
                            <dt>Teléfono:</dt>
                            <dd><a href="tel:{{company["model"].phone}}"> {{company["model"].phone}}</a></dd> 
                            <dt>Visítalos en:</dt>
                            <dd><a href="{{company["model"].website}}" target="_blank">website</a></dd>
                        </dl>
                        <h5>Habilidades que coinciden</h5>
                        <p class="csv">
                        {% for skill in company["skills"] %}
                            <span>{{skill.name}}</span>
                        {% endfor %}
                        </p>
                        <h5>Otras habilidades requeridas</h5>
                        {% if company["other_skills"] %}
                            <p class="csv">
                            {% for skill in company["other_skills"] %}
                                <span>{{skill.name}}</span>
                            {% endfor %}
                            </p>
                        {% else %}
                            <p>No requieren nada más! Esta alumna cumple todos los requicitos.</p>
                        {% endif %}
                        <hr>
                    </div>        
                        
                {% endfor %}
                
            {% else %}
                <p>Lo sentimos, en este momento no hay ninguna compañia que concuerde con tu aplicación</p>
            {% endif %}
            
                
            </div>   
        </section>
    	
    	
    </div>
{% endblock content %}